@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "MuiOverrides/index.css";

@layer base {
    body {
        @apply font-poppins text-black-200 font-normal !important;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .search-results {
  position: absolute;
  height: 14rem;
  width: 37rem;
  top: 12%;
  left: 50%;
  overflow: auto;
  transform: translateX(-50%);
  z-index: 5;
  padding: 1rem 1.2rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
} */

/* .pokemon-name {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  text-transform: capitalize;
} */

/* .search-results::-webkit-scrollbar {
  width: 0;
} */

/* .pokemon-name:hover {
  background-color: #f0f0f0;
  color: #7263f3;
} */